$color-gray-alpha-25: rgba(17, 12, 34, 0.03);

$color-gray-alpha-50: rgba(17, 12, 34, 0.05);

$color-gray-alpha-75: rgba(17, 12, 34, 0.08);

$color-gray-alpha-100: rgba(17, 12, 34, 0.12);

$color-gray-alpha-200: rgba(17, 12, 34, 0.16);

$color-gray-alpha-300: rgba(17, 12, 34, 0.24);

$color-gray-alpha-400: rgba(17, 12, 34, 0.32);

$color-gray-alpha-500: rgba(17, 12, 34, 0.48);

$color-gray-alpha-600: rgba(17, 12, 34, 0.64);

$color-gray-alpha-700: rgba(17, 12, 34, 0.74);

$color-gray-alpha-800: rgba(17, 12, 34, 0.88);

$color-gray-alpha-900: rgba(17, 12, 34, 1);

$color-primary-25: rgba(249, 248, 255, 1);

$color-primary-50: rgba(241, 238, 255, 1);

$surface-theme-light-primary-accent-2: rgba(226, 220, 255, 1);

$color-primary-100: rgba(198, 187, 255, 1);

$color-primary-200: rgba(188, 175, 255, 1);

$color-primary-300: rgba(167, 151, 255, 1);

$color-primary-400: rgba(139, 117, 255, 1);

$color-primary-500: rgba(115, 87, 255, 1);

$color-primary-600: rgba(99, 71, 244, 1);

$color-primary-700: rgba(85, 58, 222, 1);

$color-primary-800: rgba(60, 40, 164, 1);

$color-primary-900: rgba(33, 25, 77, 1);

$color-secondary-25: rgba(244, 255, 245, 1);

$color-secondary-50: rgba(233, 255, 234, 1);

$surface-theme-light-secondary-accent-2: rgba(207, 255, 209, 1);

$color-secondary-100: rgba(173, 252, 176, 1);

$color-secondary-200: rgba(152, 248, 156, 1);

$color-secondary-300: rgba(127, 241, 131, 1);

$color-secondary-400: rgba(92, 231, 98, 1);

$color-secondary-500: rgba(72, 214, 78, 1);

$color-secondary-600: rgba(59, 198, 65, 1);

$color-secondary-700: rgba(55, 177, 61, 1);

$color-secondary-800: rgba(45, 131, 49, 1);

$color-secondary-900: rgba(20, 62, 22, 1);

$color-gray-25: rgba(248, 248, 248, 1);

$color-gray-50: rgba(243, 243, 244, 1);

$color-gray-75: rgba(236, 236, 237, 1);

$color-gray-100: rgba(226, 226, 228, 1);

$color-gray-200: rgba(217, 216, 220, 1);

$color-gray-300: rgba(198, 197, 202, 1);

$color-gray-400: rgba(179, 177, 184, 1);

$color-gray-500: rgba(141, 138, 149, 1);

$color-gray-600: rgba(103, 100, 114, 1);

$color-gray-700: rgba(79, 75, 92, 1);

$color-gray-800: rgba(46, 41, 61, 1);

$color-gray-900: rgba(17, 12, 34, 1);

$color-neutral-black-4: rgba(0, 0, 0, 0.04);

$color-neutral-black-7: rgba(0, 0, 0, 0.07);

$color-neutral-black-12: rgba(0, 0, 0, 0.12);

$color-neutral-black-16: rgba(0, 0, 0, 0.16);

$color-neutral-black-20: rgba(0, 0, 0, 0.2);

$color-neutral-black-24: rgba(0, 0, 0, 0.24);

$color-neutral-black-32: rgba(0, 0, 0, 0.32);

$color-neutral-black-48: rgba(0, 0, 0, 0.48);

$color-neutral-black-64: rgba(0, 0, 0, 0.64);

$color-neutral-black-76: rgba(0, 0, 0, 0.76);

$color-neutral-black-88: rgba(0, 0, 0, 0.88);

$color-transparent: rgba(255, 255, 255, 0);

$color-neutral-black-100: rgba(0, 0, 0, 1);

$color-neutral-white-4: rgba(255, 255, 255, 0.04);

$color-neutral-white-7: rgba(255, 255, 255, 0.07);

$color-neutral-white-12: rgba(255, 255, 255, 0.12);

$color-neutral-white-16: rgba(255, 255, 255, 0.16);

$color-neutral-white-20: rgba(255, 255, 255, 0.2);

$color-neutral-white-24: rgba(255, 255, 255, 0.24);

$color-neutral-white-32: rgba(255, 255, 255, 0.32);

$color-neutral-white-48: rgba(255, 255, 255, 0.48);

$color-neutral-white-64: rgba(255, 255, 255, 0.64);

$color-neutral-white-76: rgba(255, 255, 255, 0.76);

$color-neutral-white-88: rgba(255, 255, 255, 0.88);

$color-danger-25: rgba(255, 249, 249, 1);

$color-danger-50: rgba(255, 241, 241, 1);

$surface-theme-light-danger-accent-2: rgba(255, 224, 224, 1);

$color-danger-100: rgba(255, 199, 199, 1);

$color-danger-200: rgba(255, 167, 167, 1);

$color-danger-300: rgba(255, 128, 128, 1);

$color-danger-400: rgba(249, 94, 94, 1);

$color-danger-500: rgba(240, 61, 61, 1);

$color-danger-600: rgba(207, 42, 42, 1);

$color-danger-700: rgba(164, 31, 31, 1);

$color-danger-800: rgba(89, 26, 26, 1);

$color-danger-900: rgba(39, 17, 17, 1);

$color-info-25: rgba(245, 250, 255, 1);

$color-info-50: rgba(233, 244, 255, 1);

$surface-theme-light-info-accent-2: rgba(194, 226, 255, 1);

$color-info-100: rgba(160, 210, 255, 1);

$color-info-200: rgba(113, 187, 255, 1);

$color-info-300: rgba(69, 166, 255, 1);

$color-info-400: rgba(28, 146, 255, 1);

$color-info-500: rgba(0, 132, 255, 1);

$color-info-600: rgba(0, 118, 226, 1);

$color-info-700: rgba(0, 87, 167, 1);

$color-info-800: rgba(12, 53, 90, 1);

$color-info-900: rgba(13, 28, 43, 1);

$color-success-25: rgba(243, 253, 248, 1);

$color-success-50: rgba(226, 252, 240, 1);

$surface-theme-light-success-accent-2: rgba(198, 241, 221, 1);

$color-success-100: rgba(166, 233, 200, 1);

$color-success-200: rgba(111, 218, 166, 1);

$color-success-300: rgba(77, 204, 143, 1);

$color-success-400: rgba(40, 192, 122, 1);

$color-success-500: rgba(11, 170, 96, 1);

$color-success-600: rgba(10, 156, 85, 1);

$color-success-700: rgba(12, 120, 68, 1);

$color-success-800: rgba(16, 75, 47, 1);

$color-success-900: rgba(13, 31, 17, 1);

$color-warning-25: rgba(255, 250, 237, 1);

$color-warning-50: rgba(255, 245, 219, 1);

$color-warning-75: rgba(255, 236, 186, 1);

$color-warning-100: rgba(255, 221, 134, 1);

$color-warning-200: rgba(255, 203, 69, 1);

$color-warning-300: rgba(253, 186, 15, 1);

$color-warning-400: rgba(242, 170, 9, 1);

$color-warning-500: rgba(224, 148, 0, 1);

$color-warning-600: rgba(208, 125, 0, 1);

$color-warning-700: rgba(181, 94, 15, 1);

$color-warning-800: rgba(92, 49, 17, 1);

$color-warning-900: rgba(39, 23, 11, 1);

$elevation-theme-light-e1: 0px 1px 2px 0px rgba(17, 12, 34, 0.08);

$elevation-theme-light-e2: 0px 2px 4px 0px rgba(17, 12, 34, 0.12);

$elevation-theme-light-e3: 0px 6px 16px 0px rgba(17, 12, 34, 0.1);

$elevation-theme-light-e4: 0px 16px 20px 0px rgba(17, 12, 34, 0.1);

$elevation-theme-light-e5: 0px 20px 24px 0px rgba(17, 12, 34, 0.1);

$elevation-theme-light-e6: 0px 32px 32px 0px rgba(17, 12, 34, 0.12);

$elevation-theme-dark-e1: 0px 1px 2px 0px rgba(0, 0, 0, 0.28);

$elevation-theme-dark-e2: 0px 2px 4px 0px rgba(0, 0, 0, 0.28);

$elevation-theme-dark-e3: 0px 6px 16px 0px rgba(0, 0, 0, 0.28);

$elevation-theme-dark-e4: 0px 16px 20px 0px rgba(0, 0, 0, 0.28);

$elevation-theme-dark-e5: 0px 20px 24px 0px rgba(0, 0, 0, 0.32);

$elevation-theme-dark-e6: 0px 24px 28px 0px rgba(0, 0, 0, 0.32);

$outline-theme-light-focus-gray:
  0px 2px 4px 0px rgba(17, 12, 34, 0.12),
  0px 0px 0px 0px rgba(236, 236, 237, 1);

$outline-theme-light-focus-warning:
  0px 2px 4px 0px rgba(17, 12, 34, 0.12),
  0px 0px 0px 0px rgba(255, 236, 186, 1);

$outline-theme-light-focus-danger:
  0px 2px 4px 0px rgba(17, 12, 34, 0.12),
  0px 0px 0px 0px rgba(255, 224, 224, 1);

$outline-theme-light-focus-success:
  0px 2px 4px 0px rgba(17, 12, 34, 0.12),
  0px 0px 0px 0px rgba(198, 241, 221, 1);

$outline-theme-light-focus-primary:
  0px 2px 4px 0px rgba(17, 12, 34, 0.12),
  0px 0px 0px 0px rgba(226, 220, 255, 1);

$text-theme-light-high-em: rgba(17, 12, 34, 1);

$text-theme-light-med-em: rgba(79, 75, 92, 1);

$text-theme-light-low-em: rgba(141, 138, 149, 1);

$text-theme-light-disabled: rgba(179, 177, 184, 1);

$outline-theme-light-base-em: rgba(243, 243, 244, 1);

$outline-theme-light-low-em: rgba(236, 236, 237, 1);

$outline-theme-light-med-em: rgba(217, 216, 220, 1);

$outline-theme-light-high-em: rgba(198, 197, 202, 1);

$surface-theme-light-disabled-high-em: rgba(179, 177, 184, 1);

$surface-theme-light-disabled-med-em: rgba(198, 197, 202, 1);

$surface-theme-light-disabled-light-em: rgba(226, 226, 228, 1);

$surface-theme-light-disabled-base-em: rgba(236, 236, 237, 1);

$web-font-primary-display-1-bold: (
  "font-family": "General Sans",
  "font-size": 104px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 700,
  "letter-spacing": 0px,
  "line-height": 120px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-display-1-bold-font-family: "General Sans";

$web-font-primary-display-1-bold-font-size: 104px;

$web-font-primary-display-1-bold-font-style: normal;

$web-font-primary-display-1-bold-font-variant: normal;

$web-font-primary-display-1-bold-font-weight: 700;

$web-font-primary-display-1-bold-letter-spacing: 0px;

$web-font-primary-display-1-bold-line-height: 120px;

$web-font-primary-display-1-bold-text-align: left;

$web-font-primary-display-1-bold-text-decoration: none;

$web-font-primary-display-1-bold-text-transform: none;

$web-font-primary-display-1-bold-vertical-align: top;

$web-font-primary-display-2-bold: (
  "font-family": "General Sans",
  "font-size": 88px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 700,
  "letter-spacing": 0px,
  "line-height": 96px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-display-2-bold-font-family: "General Sans";

$web-font-primary-display-2-bold-font-size: 88px;

$web-font-primary-display-2-bold-font-style: normal;

$web-font-primary-display-2-bold-font-variant: normal;

$web-font-primary-display-2-bold-font-weight: 700;

$web-font-primary-display-2-bold-letter-spacing: 0px;

$web-font-primary-display-2-bold-line-height: 96px;

$web-font-primary-display-2-bold-text-align: left;

$web-font-primary-display-2-bold-text-decoration: none;

$web-font-primary-display-2-bold-text-transform: none;

$web-font-primary-display-2-bold-vertical-align: top;

$web-font-primary-display-3-bold: (
  "font-family": "General Sans",
  "font-size": 76px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 700,
  "letter-spacing": 0px,
  "line-height": 88px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-display-3-bold-font-family: "General Sans";

$web-font-primary-display-3-bold-font-size: 76px;

$web-font-primary-display-3-bold-font-style: normal;

$web-font-primary-display-3-bold-font-variant: normal;

$web-font-primary-display-3-bold-font-weight: 700;

$web-font-primary-display-3-bold-letter-spacing: 0px;

$web-font-primary-display-3-bold-line-height: 88px;

$web-font-primary-display-3-bold-text-align: left;

$web-font-primary-display-3-bold-text-decoration: none;

$web-font-primary-display-3-bold-text-transform: none;

$web-font-primary-display-3-bold-vertical-align: top;

$web-font-primary-heading-1-bold: (
  "font-family": "SF Pro",
  "font-size": 64px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 760,
  "letter-spacing": -0.64px,
  "line-height": 72px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-1-bold-font-family: "SF Pro";

$web-font-primary-heading-1-bold-font-size: 64px;

$web-font-primary-heading-1-bold-font-style: normal;

$web-font-primary-heading-1-bold-font-variant: normal;

$web-font-primary-heading-1-bold-font-weight: 760;

$web-font-primary-heading-1-bold-letter-spacing: -0.64px;

$web-font-primary-heading-1-bold-line-height: 72px;

$web-font-primary-heading-1-bold-text-align: left;

$web-font-primary-heading-1-bold-text-decoration: none;

$web-font-primary-heading-1-bold-text-transform: none;

$web-font-primary-heading-1-bold-vertical-align: top;

$web-font-primary-heading-2-bold: (
  "font-family": "General Sans",
  "font-size": 52px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 700,
  "letter-spacing": -0.52px,
  "line-height": 64px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-2-bold-font-family: "General Sans";

$web-font-primary-heading-2-bold-font-size: 52px;

$web-font-primary-heading-2-bold-font-style: normal;

$web-font-primary-heading-2-bold-font-variant: normal;

$web-font-primary-heading-2-bold-font-weight: 700;

$web-font-primary-heading-2-bold-letter-spacing: -0.52px;

$web-font-primary-heading-2-bold-line-height: 64px;

$web-font-primary-heading-2-bold-text-align: left;

$web-font-primary-heading-2-bold-text-decoration: none;

$web-font-primary-heading-2-bold-text-transform: none;

$web-font-primary-heading-2-bold-vertical-align: top;

$web-font-primary-heading-3-bold: (
  "font-family": "General Sans",
  "font-size": 44px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 700,
  "letter-spacing": -0.44px,
  "line-height": 64px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-3-bold-font-family: "General Sans";

$web-font-primary-heading-3-bold-font-size: 44px;

$web-font-primary-heading-3-bold-font-style: normal;

$web-font-primary-heading-3-bold-font-variant: normal;

$web-font-primary-heading-3-bold-font-weight: 700;

$web-font-primary-heading-3-bold-letter-spacing: -0.44px;

$web-font-primary-heading-3-bold-line-height: 64px;

$web-font-primary-heading-3-bold-text-align: left;

$web-font-primary-heading-3-bold-text-decoration: none;

$web-font-primary-heading-3-bold-text-transform: none;

$web-font-primary-heading-3-bold-vertical-align: top;

$web-font-primary-heading-4-bold: (
  "font-family": "SF Pro",
  "font-size": 32px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 760,
  "letter-spacing": -0.32px,
  "line-height": 40px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-4-bold-font-family: "SF Pro";

$web-font-primary-heading-4-bold-font-size: 32px;

$web-font-primary-heading-4-bold-font-style: normal;

$web-font-primary-heading-4-bold-font-variant: normal;

$web-font-primary-heading-4-bold-font-weight: 760;

$web-font-primary-heading-4-bold-letter-spacing: -0.32px;

$web-font-primary-heading-4-bold-line-height: 40px;

$web-font-primary-heading-4-bold-text-align: left;

$web-font-primary-heading-4-bold-text-decoration: none;

$web-font-primary-heading-4-bold-text-transform: none;

$web-font-primary-heading-4-bold-vertical-align: top;

$web-font-primary-heading-5-bold: (
  "font-family": "SF Pro",
  "font-size": 26px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 760,
  "letter-spacing": -0.26px,
  "line-height": 40px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-5-bold-font-family: "SF Pro";

$web-font-primary-heading-5-bold-font-size: 26px;

$web-font-primary-heading-5-bold-font-style: normal;

$web-font-primary-heading-5-bold-font-variant: normal;

$web-font-primary-heading-5-bold-font-weight: 760;

$web-font-primary-heading-5-bold-letter-spacing: -0.26px;

$web-font-primary-heading-5-bold-line-height: 40px;

$web-font-primary-heading-5-bold-text-align: left;

$web-font-primary-heading-5-bold-text-decoration: none;

$web-font-primary-heading-5-bold-text-transform: none;

$web-font-primary-heading-5-bold-vertical-align: top;

$web-font-primary-heading-6-bold: (
  "font-family": "SF Pro",
  "font-size": 20px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 760,
  "letter-spacing": -0.2px,
  "line-height": 32px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-6-bold-font-family: "SF Pro";

$web-font-primary-heading-6-bold-font-size: 20px;

$web-font-primary-heading-6-bold-font-style: normal;

$web-font-primary-heading-6-bold-font-variant: normal;

$web-font-primary-heading-6-bold-font-weight: 760;

$web-font-primary-heading-6-bold-letter-spacing: -0.2px;

$web-font-primary-heading-6-bold-line-height: 32px;

$web-font-primary-heading-6-bold-text-align: left;

$web-font-primary-heading-6-bold-text-decoration: none;

$web-font-primary-heading-6-bold-text-transform: none;

$web-font-primary-heading-6-bold-vertical-align: top;

$web-font-primary-title-1-bold: (
  "font-family": "General Sans",
  "font-size": 18px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 700,
  "letter-spacing": 0px,
  "line-height": 24px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-title-1-bold-font-family: "General Sans";

$web-font-primary-title-1-bold-font-size: 18px;

$web-font-primary-title-1-bold-font-style: normal;

$web-font-primary-title-1-bold-font-variant: normal;

$web-font-primary-title-1-bold-font-weight: 700;

$web-font-primary-title-1-bold-letter-spacing: 0px;

$web-font-primary-title-1-bold-line-height: 24px;

$web-font-primary-title-1-bold-text-align: left;

$web-font-primary-title-1-bold-text-decoration: none;

$web-font-primary-title-1-bold-text-transform: none;

$web-font-primary-title-1-bold-vertical-align: top;

$web-font-primary-title-2-bold: (
  "font-family": "General Sans",
  "font-size": 16px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 700,
  "letter-spacing": 0px,
  "line-height": 24px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-title-2-bold-font-family: "General Sans";

$web-font-primary-title-2-bold-font-size: 16px;

$web-font-primary-title-2-bold-font-style: normal;

$web-font-primary-title-2-bold-font-variant: normal;

$web-font-primary-title-2-bold-font-weight: 700;

$web-font-primary-title-2-bold-letter-spacing: 0px;

$web-font-primary-title-2-bold-line-height: 24px;

$web-font-primary-title-2-bold-text-align: left;

$web-font-primary-title-2-bold-text-decoration: none;

$web-font-primary-title-2-bold-text-transform: none;

$web-font-primary-title-2-bold-vertical-align: top;

$web-font-primary-body-1-bold: (
  "font-family": "General Sans",
  "font-size": 16px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 700,
  "letter-spacing": 0px,
  "line-height": 24px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-body-1-bold-font-family: "General Sans";

$web-font-primary-body-1-bold-font-size: 16px;

$web-font-primary-body-1-bold-font-style: normal;

$web-font-primary-body-1-bold-font-variant: normal;

$web-font-primary-body-1-bold-font-weight: 700;

$web-font-primary-body-1-bold-letter-spacing: 0px;

$web-font-primary-body-1-bold-line-height: 24px;

$web-font-primary-body-1-bold-text-align: left;

$web-font-primary-body-1-bold-text-decoration: none;

$web-font-primary-body-1-bold-text-transform: none;

$web-font-primary-body-1-bold-vertical-align: top;

$web-font-primary-body-2-bold: (
  "font-family": "General Sans",
  "font-size": 14px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 700,
  "letter-spacing": 0px,
  "line-height": 24px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-body-2-bold-font-family: "General Sans";

$web-font-primary-body-2-bold-font-size: 14px;

$web-font-primary-body-2-bold-font-style: normal;

$web-font-primary-body-2-bold-font-variant: normal;

$web-font-primary-body-2-bold-font-weight: 700;

$web-font-primary-body-2-bold-letter-spacing: 0px;

$web-font-primary-body-2-bold-line-height: 24px;

$web-font-primary-body-2-bold-text-align: left;

$web-font-primary-body-2-bold-text-decoration: none;

$web-font-primary-body-2-bold-text-transform: none;

$web-font-primary-body-2-bold-vertical-align: top;

$web-font-primary-caption-1-bold: (
  "font-family": "General Sans",
  "font-size": 12px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 700,
  "letter-spacing": 0px,
  "line-height": 16px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-caption-1-bold-font-family: "General Sans";

$web-font-primary-caption-1-bold-font-size: 12px;

$web-font-primary-caption-1-bold-font-style: normal;

$web-font-primary-caption-1-bold-font-variant: normal;

$web-font-primary-caption-1-bold-font-weight: 700;

$web-font-primary-caption-1-bold-letter-spacing: 0px;

$web-font-primary-caption-1-bold-line-height: 16px;

$web-font-primary-caption-1-bold-text-align: left;

$web-font-primary-caption-1-bold-text-decoration: none;

$web-font-primary-caption-1-bold-text-transform: none;

$web-font-primary-caption-1-bold-vertical-align: top;

$web-font-primary-caption-2-bold: (
  "font-family": "General Sans",
  "font-size": 10px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 700,
  "letter-spacing": 0px,
  "line-height": 16px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-caption-2-bold-font-family: "General Sans";

$web-font-primary-caption-2-bold-font-size: 10px;

$web-font-primary-caption-2-bold-font-style: normal;

$web-font-primary-caption-2-bold-font-variant: normal;

$web-font-primary-caption-2-bold-font-weight: 700;

$web-font-primary-caption-2-bold-letter-spacing: 0px;

$web-font-primary-caption-2-bold-line-height: 16px;

$web-font-primary-caption-2-bold-text-align: left;

$web-font-primary-caption-2-bold-text-decoration: none;

$web-font-primary-caption-2-bold-text-transform: none;

$web-font-primary-caption-2-bold-vertical-align: top;

$web-font-primary-display-1-medium: (
  "font-family": "General Sans",
  "font-size": 104px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 500,
  "letter-spacing": 0px,
  "line-height": 120px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-display-1-medium-font-family: "General Sans";

$web-font-primary-display-1-medium-font-size: 104px;

$web-font-primary-display-1-medium-font-style: normal;

$web-font-primary-display-1-medium-font-variant: normal;

$web-font-primary-display-1-medium-font-weight: 500;

$web-font-primary-display-1-medium-letter-spacing: 0px;

$web-font-primary-display-1-medium-line-height: 120px;

$web-font-primary-display-1-medium-text-align: left;

$web-font-primary-display-1-medium-text-decoration: none;

$web-font-primary-display-1-medium-text-transform: none;

$web-font-primary-display-1-medium-vertical-align: top;

$web-font-primary-display-2-medium: (
  "font-family": "General Sans",
  "font-size": 88px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 500,
  "letter-spacing": 0px,
  "line-height": 96px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-display-2-medium-font-family: "General Sans";

$web-font-primary-display-2-medium-font-size: 88px;

$web-font-primary-display-2-medium-font-style: normal;

$web-font-primary-display-2-medium-font-variant: normal;

$web-font-primary-display-2-medium-font-weight: 500;

$web-font-primary-display-2-medium-letter-spacing: 0px;

$web-font-primary-display-2-medium-line-height: 96px;

$web-font-primary-display-2-medium-text-align: left;

$web-font-primary-display-2-medium-text-decoration: none;

$web-font-primary-display-2-medium-text-transform: none;

$web-font-primary-display-2-medium-vertical-align: top;

$web-font-primary-display-3-medium: (
  "font-family": "General Sans",
  "font-size": 76px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 500,
  "letter-spacing": 0px,
  "line-height": 88px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-display-3-medium-font-family: "General Sans";

$web-font-primary-display-3-medium-font-size: 76px;

$web-font-primary-display-3-medium-font-style: normal;

$web-font-primary-display-3-medium-font-variant: normal;

$web-font-primary-display-3-medium-font-weight: 500;

$web-font-primary-display-3-medium-letter-spacing: 0px;

$web-font-primary-display-3-medium-line-height: 88px;

$web-font-primary-display-3-medium-text-align: left;

$web-font-primary-display-3-medium-text-decoration: none;

$web-font-primary-display-3-medium-text-transform: none;

$web-font-primary-display-3-medium-vertical-align: top;

$web-font-primary-heading-1-medium: (
  "font-family": "SF Pro",
  "font-size": 64px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 540,
  "letter-spacing": -0.64px,
  "line-height": 72px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-1-medium-font-family: "SF Pro";

$web-font-primary-heading-1-medium-font-size: 64px;

$web-font-primary-heading-1-medium-font-style: normal;

$web-font-primary-heading-1-medium-font-variant: normal;

$web-font-primary-heading-1-medium-font-weight: 540;

$web-font-primary-heading-1-medium-letter-spacing: -0.64px;

$web-font-primary-heading-1-medium-line-height: 72px;

$web-font-primary-heading-1-medium-text-align: left;

$web-font-primary-heading-1-medium-text-decoration: none;

$web-font-primary-heading-1-medium-text-transform: none;

$web-font-primary-heading-1-medium-vertical-align: top;

$web-font-primary-heading-2-medium: (
  "font-family": "General Sans",
  "font-size": 52px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 500,
  "letter-spacing": -0.52px,
  "line-height": 64px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-2-medium-font-family: "General Sans";

$web-font-primary-heading-2-medium-font-size: 52px;

$web-font-primary-heading-2-medium-font-style: normal;

$web-font-primary-heading-2-medium-font-variant: normal;

$web-font-primary-heading-2-medium-font-weight: 500;

$web-font-primary-heading-2-medium-letter-spacing: -0.52px;

$web-font-primary-heading-2-medium-line-height: 64px;

$web-font-primary-heading-2-medium-text-align: left;

$web-font-primary-heading-2-medium-text-decoration: none;

$web-font-primary-heading-2-medium-text-transform: none;

$web-font-primary-heading-2-medium-vertical-align: top;

$web-font-primary-heading-3-medium: (
  "font-family": "General Sans",
  "font-size": 44px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 500,
  "letter-spacing": -0.44px,
  "line-height": 64px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-3-medium-font-family: "General Sans";

$web-font-primary-heading-3-medium-font-size: 44px;

$web-font-primary-heading-3-medium-font-style: normal;

$web-font-primary-heading-3-medium-font-variant: normal;

$web-font-primary-heading-3-medium-font-weight: 500;

$web-font-primary-heading-3-medium-letter-spacing: -0.44px;

$web-font-primary-heading-3-medium-line-height: 64px;

$web-font-primary-heading-3-medium-text-align: left;

$web-font-primary-heading-3-medium-text-decoration: none;

$web-font-primary-heading-3-medium-text-transform: none;

$web-font-primary-heading-3-medium-vertical-align: top;

$web-font-primary-heading-4-medium: (
  "font-family": "SF Pro",
  "font-size": 32px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 540,
  "letter-spacing": -0.32px,
  "line-height": 40px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-4-medium-font-family: "SF Pro";

$web-font-primary-heading-4-medium-font-size: 32px;

$web-font-primary-heading-4-medium-font-style: normal;

$web-font-primary-heading-4-medium-font-variant: normal;

$web-font-primary-heading-4-medium-font-weight: 540;

$web-font-primary-heading-4-medium-letter-spacing: -0.32px;

$web-font-primary-heading-4-medium-line-height: 40px;

$web-font-primary-heading-4-medium-text-align: left;

$web-font-primary-heading-4-medium-text-decoration: none;

$web-font-primary-heading-4-medium-text-transform: none;

$web-font-primary-heading-4-medium-vertical-align: top;

$web-font-primary-heading-5-medium: (
  "font-family": "SF Pro",
  "font-size": 26px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 540,
  "letter-spacing": -0.26px,
  "line-height": 40px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-5-medium-font-family: "SF Pro";

$web-font-primary-heading-5-medium-font-size: 26px;

$web-font-primary-heading-5-medium-font-style: normal;

$web-font-primary-heading-5-medium-font-variant: normal;

$web-font-primary-heading-5-medium-font-weight: 540;

$web-font-primary-heading-5-medium-letter-spacing: -0.26px;

$web-font-primary-heading-5-medium-line-height: 40px;

$web-font-primary-heading-5-medium-text-align: left;

$web-font-primary-heading-5-medium-text-decoration: none;

$web-font-primary-heading-5-medium-text-transform: none;

$web-font-primary-heading-5-medium-vertical-align: top;

$web-font-primary-heading-6-medium: (
  "font-family": "SF Pro",
  "font-size": 20px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 540,
  "letter-spacing": -0.2px,
  "line-height": 32px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-6-medium-font-family: "SF Pro";

$web-font-primary-heading-6-medium-font-size: 20px;

$web-font-primary-heading-6-medium-font-style: normal;

$web-font-primary-heading-6-medium-font-variant: normal;

$web-font-primary-heading-6-medium-font-weight: 540;

$web-font-primary-heading-6-medium-letter-spacing: -0.2px;

$web-font-primary-heading-6-medium-line-height: 32px;

$web-font-primary-heading-6-medium-text-align: left;

$web-font-primary-heading-6-medium-text-decoration: none;

$web-font-primary-heading-6-medium-text-transform: none;

$web-font-primary-heading-6-medium-vertical-align: top;

$web-font-primary-title-1-medium: (
  "font-family": "General Sans",
  "font-size": 18px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 500,
  "letter-spacing": 0px,
  "line-height": 24px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-title-1-medium-font-family: "General Sans";

$web-font-primary-title-1-medium-font-size: 18px;

$web-font-primary-title-1-medium-font-style: normal;

$web-font-primary-title-1-medium-font-variant: normal;

$web-font-primary-title-1-medium-font-weight: 500;

$web-font-primary-title-1-medium-letter-spacing: 0px;

$web-font-primary-title-1-medium-line-height: 24px;

$web-font-primary-title-1-medium-text-align: left;

$web-font-primary-title-1-medium-text-decoration: none;

$web-font-primary-title-1-medium-text-transform: none;

$web-font-primary-title-1-medium-vertical-align: top;

$web-font-primary-title-2-medium: (
  "font-family": "General Sans",
  "font-size": 16px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 500,
  "letter-spacing": 0px,
  "line-height": 24px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-title-2-medium-font-family: "General Sans";

$web-font-primary-title-2-medium-font-size: 16px;

$web-font-primary-title-2-medium-font-style: normal;

$web-font-primary-title-2-medium-font-variant: normal;

$web-font-primary-title-2-medium-font-weight: 500;

$web-font-primary-title-2-medium-letter-spacing: 0px;

$web-font-primary-title-2-medium-line-height: 24px;

$web-font-primary-title-2-medium-text-align: left;

$web-font-primary-title-2-medium-text-decoration: none;

$web-font-primary-title-2-medium-text-transform: none;

$web-font-primary-title-2-medium-vertical-align: top;

$web-font-primary-body-1-medium: (
  "font-family": "General Sans",
  "font-size": 16px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 500,
  "letter-spacing": 0px,
  "line-height": 24px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-body-1-medium-font-family: "General Sans";

$web-font-primary-body-1-medium-font-size: 16px;

$web-font-primary-body-1-medium-font-style: normal;

$web-font-primary-body-1-medium-font-variant: normal;

$web-font-primary-body-1-medium-font-weight: 500;

$web-font-primary-body-1-medium-letter-spacing: 0px;

$web-font-primary-body-1-medium-line-height: 24px;

$web-font-primary-body-1-medium-text-align: left;

$web-font-primary-body-1-medium-text-decoration: none;

$web-font-primary-body-1-medium-text-transform: none;

$web-font-primary-body-1-medium-vertical-align: top;

$web-font-primary-body-2-medium: (
  "font-family": "General Sans",
  "font-size": 14px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 500,
  "letter-spacing": 0px,
  "line-height": 24px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-body-2-medium-font-family: "General Sans";

$web-font-primary-body-2-medium-font-size: 14px;

$web-font-primary-body-2-medium-font-style: normal;

$web-font-primary-body-2-medium-font-variant: normal;

$web-font-primary-body-2-medium-font-weight: 500;

$web-font-primary-body-2-medium-letter-spacing: 0px;

$web-font-primary-body-2-medium-line-height: 24px;

$web-font-primary-body-2-medium-text-align: left;

$web-font-primary-body-2-medium-text-decoration: none;

$web-font-primary-body-2-medium-text-transform: none;

$web-font-primary-body-2-medium-vertical-align: top;

$web-font-primary-caption-1-medium: (
  "font-family": "General Sans",
  "font-size": 12px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 500,
  "letter-spacing": 0px,
  "line-height": 16px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-caption-1-medium-font-family: "General Sans";

$web-font-primary-caption-1-medium-font-size: 12px;

$web-font-primary-caption-1-medium-font-style: normal;

$web-font-primary-caption-1-medium-font-variant: normal;

$web-font-primary-caption-1-medium-font-weight: 500;

$web-font-primary-caption-1-medium-letter-spacing: 0px;

$web-font-primary-caption-1-medium-line-height: 16px;

$web-font-primary-caption-1-medium-text-align: left;

$web-font-primary-caption-1-medium-text-decoration: none;

$web-font-primary-caption-1-medium-text-transform: none;

$web-font-primary-caption-1-medium-vertical-align: top;

$web-font-primary-caption-2-medium: (
  "font-family": "General Sans",
  "font-size": 10px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 500,
  "letter-spacing": 0px,
  "line-height": 16px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-caption-2-medium-font-family: "General Sans";

$web-font-primary-caption-2-medium-font-size: 10px;

$web-font-primary-caption-2-medium-font-style: normal;

$web-font-primary-caption-2-medium-font-variant: normal;

$web-font-primary-caption-2-medium-font-weight: 500;

$web-font-primary-caption-2-medium-letter-spacing: 0px;

$web-font-primary-caption-2-medium-line-height: 16px;

$web-font-primary-caption-2-medium-text-align: left;

$web-font-primary-caption-2-medium-text-decoration: none;

$web-font-primary-caption-2-medium-text-transform: none;

$web-font-primary-caption-2-medium-vertical-align: top;

$text-theme-dark-high-em: rgba(255, 255, 255, 1);

$text-theme-dark-med-em: rgba(255, 255, 255, 0.76);

$text-theme-dark-low-em: rgba(255, 255, 255, 0.48);

$text-theme-dark-disabled: rgba(255, 255, 255, 0.32);

$outline-theme-dark-base-em: rgba(255, 255, 255, 0.08);

$outline-theme-dark-low-em: rgba(255, 255, 255, 0.16);

$outline-theme-dark-med-em: rgba(255, 255, 255, 0.24);

$outline-theme-dark-high-em: rgba(255, 255, 255, 0.32);

$surface-theme-dark-disabled-high-em: rgba(255, 255, 255, 0.32);

$surface-theme-dark-disabled-med-em: rgba(255, 255, 255, 0.24);

$surface-theme-dark-disabled-light-em: rgba(255, 255, 255, 0.16);

$surface-theme-dark-disabled-base-em: rgba(255, 255, 255, 0.12);

$outline-theme-dark-focus-white:
  0px 2px 4px 0px rgba(0, 0, 0, 0.12),
  0px 0px 0px 0px rgba(255, 255, 255, 0.12);

$web-font-primary-overline-bold: (
  "font-family": "General Sans",
  "font-size": 11px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 700,
  "letter-spacing": 0px,
  "line-height": 16px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": uppercase,
  "vertical-align": top,
);

$web-font-primary-overline-bold-font-family: "General Sans";

$web-font-primary-overline-bold-font-size: 11px;

$web-font-primary-overline-bold-font-style: normal;

$web-font-primary-overline-bold-font-variant: normal;

$web-font-primary-overline-bold-font-weight: 700;

$web-font-primary-overline-bold-letter-spacing: 0px;

$web-font-primary-overline-bold-line-height: 16px;

$web-font-primary-overline-bold-text-align: left;

$web-font-primary-overline-bold-text-decoration: none;

$web-font-primary-overline-bold-text-transform: uppercase;

$web-font-primary-overline-bold-vertical-align: top;

$web-font-primary-overline-medium: (
  "font-family": "General Sans",
  "font-size": 11px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 500,
  "letter-spacing": 0px,
  "line-height": 16px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": uppercase,
  "vertical-align": top,
);

$web-font-primary-overline-medium-font-family: "General Sans";

$web-font-primary-overline-medium-font-size: 11px;

$web-font-primary-overline-medium-font-style: normal;

$web-font-primary-overline-medium-font-variant: normal;

$web-font-primary-overline-medium-font-weight: 500;

$web-font-primary-overline-medium-letter-spacing: 0px;

$web-font-primary-overline-medium-line-height: 16px;

$web-font-primary-overline-medium-text-align: left;

$web-font-primary-overline-medium-text-decoration: none;

$web-font-primary-overline-medium-text-transform: uppercase;

$web-font-primary-overline-medium-vertical-align: top;

$elevation-theme-light-e0: 0px 1px 0px 0px rgba(17, 12, 34, 0);

$elevation-theme-dark-e0: 0px 1px 0px 0px rgba(0, 0, 0, 0);

$outline-theme-light-focus-info:
  0px 2px 4px 0px rgba(17, 12, 34, 0.12),
  0px 0px 0px 0px rgba(194, 226, 255, 1);

$color-neutral-white-100: rgba(255, 255, 255, 1);

$text-theme-light-primary-on-accentdark: rgba(226, 220, 255, 1);

$text-theme-light-primary-on-accentlight: rgba(99, 71, 244, 1);

$text-theme-light-primary-on-base: rgba(115, 87, 255, 1);

$text-theme-light-info-on-accentdark: rgba(194, 226, 255, 1);

$text-theme-light-info-on-accentlight: rgba(0, 118, 226, 1);

$text-theme-light-info-on-base: rgba(0, 132, 255, 1);

$text-theme-light-success-on-accentdark: rgba(198, 241, 221, 1);

$text-theme-light-success-on-accentlight: rgba(10, 156, 85, 1);

$text-theme-light-success-on-base: rgba(11, 170, 96, 1);

$text-theme-light-warning-on-accentdark: rgba(255, 236, 186, 1);

$text-theme-light-warning-on-accentlight: rgba(208, 125, 0, 1);

$text-theme-light-warning-on-base: rgba(224, 148, 0, 1);

$text-theme-light-danger-on-accentdark: rgba(255, 224, 224, 1);

$text-theme-light-danger-on-accentlight: rgba(207, 42, 42, 1);

$text-theme-light-danger-on-base: rgba(240, 61, 61, 1);

$text-theme-light-white: rgba(255, 255, 255, 1);

$text-theme-dark-primary-on-base: rgba(188, 175, 255, 1);

$text-theme-dark-primary-on-accentlight: rgba(85, 58, 222, 1);

$text-theme-dark-primary-on-accentdark: rgba(198, 187, 255, 1);

$text-theme-dark-info-on-base: rgba(113, 187, 255, 1);

$text-theme-dark-info-on-accentlight: rgba(0, 87, 167, 1);

$text-theme-dark-info-on-accentdark: rgba(160, 210, 255, 1);

$text-theme-dark-success-on-base: rgba(111, 218, 166, 1);

$text-theme-dark-success-on-accentlight: rgba(12, 120, 68, 1);

$text-theme-dark-success-on-accentdark: rgba(166, 233, 200, 1);

$text-theme-dark-warning-on-base: rgba(255, 203, 69, 1);

$text-theme-dark-warning-on-accentlight: rgba(181, 94, 15, 1);

$text-theme-dark-warning-on-accentdark: rgba(255, 221, 134, 1);

$text-theme-dark-danger-on-base: rgba(255, 167, 167, 1);

$text-theme-dark-danger-on-accentlight: rgba(164, 31, 31, 1);

$text-theme-dark-danger-on-accentdark: rgba(255, 199, 199, 1);

$outline-theme-dark-focus-warning: 0px 0px 0px 0px rgba(181, 94, 15, 1);

$outline-theme-dark-focus-danger: 0px 0px 0px 0px rgba(164, 31, 31, 1);

$outline-theme-dark-focus-info: 0px 0px 0px 0px rgba(0, 87, 167, 1);

$outline-theme-dark-focus-success: 0px 0px 0px 0px rgba(12, 120, 68, 1);

$outline-theme-dark-focus-primary: 0px 0px 0px 0px rgba(85, 58, 222, 1);

$outline-theme-light-primary-high-em: rgba(115, 87, 255, 1);

$outline-theme-dark-primary-base-em: rgba(167, 151, 255, 1);

$outline-theme-light-danger-high-em: rgba(240, 61, 61, 1);

$outline-theme-light-warning-high-em: rgba(224, 148, 0, 1);

$outline-theme-light-success-high-em: rgba(11, 170, 96, 1);

$outline-theme-light-info-high-em: rgba(0, 132, 255, 1);

$outline-theme-light-none: rgba(255, 255, 255, 0);

$outline-theme-light-danger-med-em: rgba(255, 199, 199, 1);

$outline-theme-light-warning-med-em: rgba(255, 221, 134, 1);

$outline-theme-light-success-med-em: rgba(166, 233, 200, 1);

$outline-theme-light-info-med-em: rgba(160, 210, 255, 1);

$outline-theme-light-primary-med-em: rgba(198, 187, 255, 1);

$outline-theme-dark-none: rgba(255, 255, 255, 0);

$outline-theme-light-white: rgba(255, 255, 255, 1);

$web-font-primary-display-3-semibold: (
  "font-family": "General Sans",
  "font-size": 76px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 600,
  "letter-spacing": 0px,
  "line-height": 88px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-display-3-semibold-font-family: "General Sans";

$web-font-primary-display-3-semibold-font-size: 76px;

$web-font-primary-display-3-semibold-font-style: normal;

$web-font-primary-display-3-semibold-font-variant: normal;

$web-font-primary-display-3-semibold-font-weight: 600;

$web-font-primary-display-3-semibold-letter-spacing: 0px;

$web-font-primary-display-3-semibold-line-height: 88px;

$web-font-primary-display-3-semibold-text-align: left;

$web-font-primary-display-3-semibold-text-decoration: none;

$web-font-primary-display-3-semibold-text-transform: none;

$web-font-primary-display-3-semibold-vertical-align: top;

$web-font-primary-heading-1-semibold: (
  "font-family": "SF Pro",
  "font-size": 64px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 650,
  "letter-spacing": -0.64px,
  "line-height": 72px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-1-semibold-font-family: "SF Pro";

$web-font-primary-heading-1-semibold-font-size: 64px;

$web-font-primary-heading-1-semibold-font-style: normal;

$web-font-primary-heading-1-semibold-font-variant: normal;

$web-font-primary-heading-1-semibold-font-weight: 650;

$web-font-primary-heading-1-semibold-letter-spacing: -0.64px;

$web-font-primary-heading-1-semibold-line-height: 72px;

$web-font-primary-heading-1-semibold-text-align: left;

$web-font-primary-heading-1-semibold-text-decoration: none;

$web-font-primary-heading-1-semibold-text-transform: none;

$web-font-primary-heading-1-semibold-vertical-align: top;

$web-font-primary-heading-2-semibold: (
  "font-family": "General Sans",
  "font-size": 52px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 600,
  "letter-spacing": -0.52px,
  "line-height": 64px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-2-semibold-font-family: "General Sans";

$web-font-primary-heading-2-semibold-font-size: 52px;

$web-font-primary-heading-2-semibold-font-style: normal;

$web-font-primary-heading-2-semibold-font-variant: normal;

$web-font-primary-heading-2-semibold-font-weight: 600;

$web-font-primary-heading-2-semibold-letter-spacing: -0.52px;

$web-font-primary-heading-2-semibold-line-height: 64px;

$web-font-primary-heading-2-semibold-text-align: left;

$web-font-primary-heading-2-semibold-text-decoration: none;

$web-font-primary-heading-2-semibold-text-transform: none;

$web-font-primary-heading-2-semibold-vertical-align: top;

$web-font-primary-heading-3-semibold: (
  "font-family": "General Sans",
  "font-size": 44px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 600,
  "letter-spacing": -0.44px,
  "line-height": 64px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-3-semibold-font-family: "General Sans";

$web-font-primary-heading-3-semibold-font-size: 44px;

$web-font-primary-heading-3-semibold-font-style: normal;

$web-font-primary-heading-3-semibold-font-variant: normal;

$web-font-primary-heading-3-semibold-font-weight: 600;

$web-font-primary-heading-3-semibold-letter-spacing: -0.44px;

$web-font-primary-heading-3-semibold-line-height: 64px;

$web-font-primary-heading-3-semibold-text-align: left;

$web-font-primary-heading-3-semibold-text-decoration: none;

$web-font-primary-heading-3-semibold-text-transform: none;

$web-font-primary-heading-3-semibold-vertical-align: top;

$web-font-primary-heading-4-semibold: (
  "font-family": "SF Pro",
  "font-size": 32px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 650,
  "letter-spacing": -0.32px,
  "line-height": 40px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-4-semibold-font-family: "SF Pro";

$web-font-primary-heading-4-semibold-font-size: 32px;

$web-font-primary-heading-4-semibold-font-style: normal;

$web-font-primary-heading-4-semibold-font-variant: normal;

$web-font-primary-heading-4-semibold-font-weight: 650;

$web-font-primary-heading-4-semibold-letter-spacing: -0.32px;

$web-font-primary-heading-4-semibold-line-height: 40px;

$web-font-primary-heading-4-semibold-text-align: left;

$web-font-primary-heading-4-semibold-text-decoration: none;

$web-font-primary-heading-4-semibold-text-transform: none;

$web-font-primary-heading-4-semibold-vertical-align: top;

$web-font-primary-heading-5-semibold: (
  "font-family": "SF Pro",
  "font-size": 26px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 650,
  "letter-spacing": -0.26px,
  "line-height": 40px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-5-semibold-font-family: "SF Pro";

$web-font-primary-heading-5-semibold-font-size: 26px;

$web-font-primary-heading-5-semibold-font-style: normal;

$web-font-primary-heading-5-semibold-font-variant: normal;

$web-font-primary-heading-5-semibold-font-weight: 650;

$web-font-primary-heading-5-semibold-letter-spacing: -0.26px;

$web-font-primary-heading-5-semibold-line-height: 40px;

$web-font-primary-heading-5-semibold-text-align: left;

$web-font-primary-heading-5-semibold-text-decoration: none;

$web-font-primary-heading-5-semibold-text-transform: none;

$web-font-primary-heading-5-semibold-vertical-align: top;

$web-font-primary-heading-6-semibold: (
  "font-family": "SF Pro",
  "font-size": 20px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 650,
  "letter-spacing": -0.2px,
  "line-height": 32px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-heading-6-semibold-font-family: "SF Pro";

$web-font-primary-heading-6-semibold-font-size: 20px;

$web-font-primary-heading-6-semibold-font-style: normal;

$web-font-primary-heading-6-semibold-font-variant: normal;

$web-font-primary-heading-6-semibold-font-weight: 650;

$web-font-primary-heading-6-semibold-letter-spacing: -0.2px;

$web-font-primary-heading-6-semibold-line-height: 32px;

$web-font-primary-heading-6-semibold-text-align: left;

$web-font-primary-heading-6-semibold-text-decoration: none;

$web-font-primary-heading-6-semibold-text-transform: none;

$web-font-primary-heading-6-semibold-vertical-align: top;

$web-font-primary-title-1-semibold: (
  "font-family": "General Sans",
  "font-size": 18px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 600,
  "letter-spacing": 0px,
  "line-height": 24px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-title-1-semibold-font-family: "General Sans";

$web-font-primary-title-1-semibold-font-size: 18px;

$web-font-primary-title-1-semibold-font-style: normal;

$web-font-primary-title-1-semibold-font-variant: normal;

$web-font-primary-title-1-semibold-font-weight: 600;

$web-font-primary-title-1-semibold-letter-spacing: 0px;

$web-font-primary-title-1-semibold-line-height: 24px;

$web-font-primary-title-1-semibold-text-align: left;

$web-font-primary-title-1-semibold-text-decoration: none;

$web-font-primary-title-1-semibold-text-transform: none;

$web-font-primary-title-1-semibold-vertical-align: top;

$web-font-primary-title-2-semibold: (
  "font-family": "General Sans",
  "font-size": 16px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 600,
  "letter-spacing": 0px,
  "line-height": 24px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-title-2-semibold-font-family: "General Sans";

$web-font-primary-title-2-semibold-font-size: 16px;

$web-font-primary-title-2-semibold-font-style: normal;

$web-font-primary-title-2-semibold-font-variant: normal;

$web-font-primary-title-2-semibold-font-weight: 600;

$web-font-primary-title-2-semibold-letter-spacing: 0px;

$web-font-primary-title-2-semibold-line-height: 24px;

$web-font-primary-title-2-semibold-text-align: left;

$web-font-primary-title-2-semibold-text-decoration: none;

$web-font-primary-title-2-semibold-text-transform: none;

$web-font-primary-title-2-semibold-vertical-align: top;

$web-font-primary-body-1-semibold: (
  "font-family": "General Sans",
  "font-size": 16px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 600,
  "letter-spacing": 0px,
  "line-height": 24px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-body-1-semibold-font-family: "General Sans";

$web-font-primary-body-1-semibold-font-size: 16px;

$web-font-primary-body-1-semibold-font-style: normal;

$web-font-primary-body-1-semibold-font-variant: normal;

$web-font-primary-body-1-semibold-font-weight: 600;

$web-font-primary-body-1-semibold-letter-spacing: 0px;

$web-font-primary-body-1-semibold-line-height: 24px;

$web-font-primary-body-1-semibold-text-align: left;

$web-font-primary-body-1-semibold-text-decoration: none;

$web-font-primary-body-1-semibold-text-transform: none;

$web-font-primary-body-1-semibold-vertical-align: top;

$web-font-primary-body-2-semibold: (
  "font-family": "General Sans",
  "font-size": 14px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 600,
  "letter-spacing": 0px,
  "line-height": 24px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-body-2-semibold-font-family: "General Sans";

$web-font-primary-body-2-semibold-font-size: 14px;

$web-font-primary-body-2-semibold-font-style: normal;

$web-font-primary-body-2-semibold-font-variant: normal;

$web-font-primary-body-2-semibold-font-weight: 600;

$web-font-primary-body-2-semibold-letter-spacing: 0px;

$web-font-primary-body-2-semibold-line-height: 24px;

$web-font-primary-body-2-semibold-text-align: left;

$web-font-primary-body-2-semibold-text-decoration: none;

$web-font-primary-body-2-semibold-text-transform: none;

$web-font-primary-body-2-semibold-vertical-align: top;

$web-font-primary-caption-1-semibold: (
  "font-family": "General Sans",
  "font-size": 12px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 600,
  "letter-spacing": 0px,
  "line-height": 16px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-caption-1-semibold-font-family: "General Sans";

$web-font-primary-caption-1-semibold-font-size: 12px;

$web-font-primary-caption-1-semibold-font-style: normal;

$web-font-primary-caption-1-semibold-font-variant: normal;

$web-font-primary-caption-1-semibold-font-weight: 600;

$web-font-primary-caption-1-semibold-letter-spacing: 0px;

$web-font-primary-caption-1-semibold-line-height: 16px;

$web-font-primary-caption-1-semibold-text-align: left;

$web-font-primary-caption-1-semibold-text-decoration: none;

$web-font-primary-caption-1-semibold-text-transform: none;

$web-font-primary-caption-1-semibold-vertical-align: top;

$web-font-primary-caption-2-semibold: (
  "font-family": "General Sans",
  "font-size": 10px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 600,
  "letter-spacing": 0px,
  "line-height": 16px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-caption-2-semibold-font-family: "General Sans";

$web-font-primary-caption-2-semibold-font-size: 10px;

$web-font-primary-caption-2-semibold-font-style: normal;

$web-font-primary-caption-2-semibold-font-variant: normal;

$web-font-primary-caption-2-semibold-font-weight: 600;

$web-font-primary-caption-2-semibold-letter-spacing: 0px;

$web-font-primary-caption-2-semibold-line-height: 16px;

$web-font-primary-caption-2-semibold-text-align: left;

$web-font-primary-caption-2-semibold-text-decoration: none;

$web-font-primary-caption-2-semibold-text-transform: none;

$web-font-primary-caption-2-semibold-vertical-align: top;

$web-font-primary-overline-semibold: (
  "font-family": "General Sans",
  "font-size": 11px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 600,
  "letter-spacing": 0px,
  "line-height": 16px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": uppercase,
  "vertical-align": top,
);

$web-font-primary-overline-semibold-font-family: "General Sans";

$web-font-primary-overline-semibold-font-size: 11px;

$web-font-primary-overline-semibold-font-style: normal;

$web-font-primary-overline-semibold-font-variant: normal;

$web-font-primary-overline-semibold-font-weight: 600;

$web-font-primary-overline-semibold-letter-spacing: 0px;

$web-font-primary-overline-semibold-line-height: 16px;

$web-font-primary-overline-semibold-text-align: left;

$web-font-primary-overline-semibold-text-decoration: none;

$web-font-primary-overline-semibold-text-transform: uppercase;

$web-font-primary-overline-semibold-vertical-align: top;

$web-font-primary-display-1-semibold: (
  "font-family": "General Sans",
  "font-size": 104px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 600,
  "letter-spacing": 0px,
  "line-height": 120px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-display-1-semibold-font-family: "General Sans";

$web-font-primary-display-1-semibold-font-size: 104px;

$web-font-primary-display-1-semibold-font-style: normal;

$web-font-primary-display-1-semibold-font-variant: normal;

$web-font-primary-display-1-semibold-font-weight: 600;

$web-font-primary-display-1-semibold-letter-spacing: 0px;

$web-font-primary-display-1-semibold-line-height: 120px;

$web-font-primary-display-1-semibold-text-align: left;

$web-font-primary-display-1-semibold-text-decoration: none;

$web-font-primary-display-1-semibold-text-transform: none;

$web-font-primary-display-1-semibold-vertical-align: top;

$web-font-primary-display-2-semibold: (
  "font-family": "General Sans",
  "font-size": 88px,
  "font-style": normal,
  "font-variant": normal,
  "font-weight": 600,
  "letter-spacing": 0px,
  "line-height": 96px,
  "text-align": left,
  "text-decoration": none,
  "text-transform": none,
  "vertical-align": top,
);

$web-font-primary-display-2-semibold-font-family: "General Sans";

$web-font-primary-display-2-semibold-font-size: 88px;

$web-font-primary-display-2-semibold-font-style: normal;

$web-font-primary-display-2-semibold-font-variant: normal;

$web-font-primary-display-2-semibold-font-weight: 600;

$web-font-primary-display-2-semibold-letter-spacing: 0px;

$web-font-primary-display-2-semibold-line-height: 96px;

$web-font-primary-display-2-semibold-text-align: left;

$web-font-primary-display-2-semibold-text-decoration: none;

$web-font-primary-display-2-semibold-text-transform: none;

$web-font-primary-display-2-semibold-vertical-align: top;

$surface-theme-light-info-accent-1: rgba(233, 244, 255, 1);

$surface-theme-light-success-accent-1: rgba(226, 252, 240, 1);

$surface-theme-light-warning-accent-1: rgba(255, 245, 219, 1);

$surface-theme-light-danger-accent-1: rgba(255, 241, 241, 1);

$surface-theme-light-primary-accent-1: rgba(241, 238, 255, 1);

$surface-theme-light-secondary-accent-1: rgba(233, 255, 234, 1);

$outline-theme-light-danger-low-em: rgba(255, 224, 224, 1);

$outline-theme-light-warning-low-em: rgba(255, 236, 186, 1);

$outline-theme-light-success-low-em: rgba(198, 241, 221, 1);

$outline-theme-light-info-low-em: rgba(194, 226, 255, 1);

$outline-theme-light-primary-low-em: rgba(226, 220, 255, 1);

$text-theme-light-danger-on-mediumdark: rgba(255, 167, 167, 1);

$text-theme-light-warning-on-mediumdark: rgba(255, 203, 69, 1);

$text-theme-light-success-on-mediumdark: rgba(111, 218, 166, 1);

$text-theme-light-info-on-mediumdark: rgba(113, 187, 255, 1);

$text-theme-light-primary-on-mediumdark: rgba(188, 175, 255, 1);

$surface-theme-dark-primary-accent-1: rgba(188, 175, 255, 0.2);

$surface-theme-dark-secondary-accent-1: rgba(152, 248, 156, 0.2);

$surface-theme-dark-info-accent-1: rgba(113, 187, 255, 0.2);

$surface-theme-dark-success-accent-1: rgba(111, 218, 166, 0.2);

$surface-theme-dark-warning-accent-1: rgba(255, 203, 69, 0.2);

$surface-theme-dark-danger-accent-1: rgba(255, 167, 167, 0.2);

$surface-theme-light-warning-accent-2: rgba(255, 236, 186, 1);

$surface-theme-light-surface-high-em: rgba(46, 41, 61, 1);

$surface-theme-light-surface-3: rgba(236, 236, 237, 1);

$surface-theme-light-surface-2: rgba(243, 243, 244, 1);

$surface-theme-light-surface-1: rgba(248, 248, 248, 1);

$surface-theme-light-surface-0: rgba(255, 255, 255, 1);

$surface-theme-dark-surface-4: rgba(255, 255, 255, 0.1), rgba(12, 12, 12, 1);

$surface-theme-dark-surface-5: rgba(255, 255, 255, 0.12), rgba(12, 12, 12, 1);

$surface-theme-dark-surface-6: rgba(255, 255, 255, 0.16), rgba(12, 12, 12, 1);

$surface-theme-dark-surface-0: rgba(12, 12, 12, 1);

$surface-theme-dark-surface-1: rgba(255, 255, 255, 0.04), rgba(12, 12, 12, 1);

$surface-theme-dark-surface-2: rgba(255, 255, 255, 0.06), rgba(12, 12, 12, 1);

$surface-theme-dark-surface-3: rgba(255, 255, 255, 0.08), rgba(12, 12, 12, 1);

$surface-theme-dark-surface-high-em: rgba(255, 255, 255, 0.96),
  rgba(12, 12, 12, 1);

$text-theme-dark-dark: rgba(0, 0, 0, 1);

$surface-theme-dark-primary-accent-2: rgba(180, 144, 255, 0.28);

$surface-theme-dark-secondary-accent-2: rgba(152, 248, 155, 0.28);

$surface-theme-dark-info-accent-2: rgba(113, 187, 255, 0.28);

$surface-theme-dark-success-accent-2: rgba(111, 218, 166, 0.28);

$surface-theme-dark-warning-accent-2: rgba(255, 203, 69, 0.28);

$surface-theme-dark-danger-accent-2: rgba(255, 167, 167, 0.28);

$color-info-75: rgba(194, 226, 255, 1);

$color-success-75: rgba(198, 241, 221, 1);

$color-danger-75: rgba(255, 224, 224, 1);

$color-primary-75: rgba(226, 220, 255, 1);

$color-secondary-75: rgba(207, 255, 209, 1);

$surface-theme-light-primary: rgba(115, 87, 255, 1);

$surface-theme-dark-primary: rgba(115, 87, 255, 1);
